<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <logger name="io.github.salamahin.stemma" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="slick.jdbc.JdbcBackend.benchmark" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="slick.jdbc.JdbcBackend.statement" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="slick.jdbc.StatementInvoker.result" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="slick.compiler.QueryCompilerBenchmark" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>
</configuration>